.btn{
  position: absolute;
  top: 300px;
  color: white;
  font-family: monospace;
  padding: 12px 25px;
  border-color: rgba(140, 238, 255, 0.663);
  border-radius: 6px;
  font-size: 1.5rem;
  /* z-index: 1; */
  box-shadow: 2px 2px 5px rgba(140, 238, 255, 0.663);
}

.btn:hover {
  cursor: pointer;
  opacity: 80%;
  transform: translate(-1px, -1px);
}